<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Images</title>
</head>

<body
    style="font-family: 'Montserrat', sans-serif; background-color: #f4f4f4; display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0;">
    <div
        style="background: #fff; padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); text-align: center; width: 300px;">
        <h1 style="color: rgb(193, 27, 27); font-family: 'Poppins', sans-serif; margin-bottom: 20px;">Upload Images</h1>
        <form id="form" method="post" enctype="multipart/form-data"
            style="display: flex; flex-direction: column; gap: 15px;">
            {% csrf_token %}
            <input type="file" name="images" multiple required
                style="padding: 10px; border: 1px solid #ddd; border-radius: 5px;">
            <label for="category" style="display: flex; flex-direction: column; align-items: flex-start;">
                <h4 style="margin: 0; color: #666; font-family: 'Montserrat', sans-serif;">Category</h4>
                <input type="text" name="category" required
                    style="padding: 10px; border: 1px solid #ddd; border-radius: 5px; width: 100%;">
            </label>
            <button type="submit" id="submitButton"
                style="background: rgb(193, 27, 27); color: #fff; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; font-family: 'Montserrat', sans-serif;">Upload</button>
        </form>
    </div>
    <script>
        document.getElementById('form').addEventListener('submit', function () {
            // Hide the submit button
            document.getElementById('submitButton').style.display = 'none';
        });
    </script>
</body>

</html>